:root {
  --dark-blue: #15133c;
  --gold: #e8a43d;
  --pink: #f798d0;
  --purple: #8a52b5;
  --old-gold: #cc9c00;
  --courgette:  'Courgette', cursive;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }

body {
   height: 100vh;

   background: rgb(21,19,60);
   background: linear-gradient(0deg, rgba(21,19,60,1) 0%, rgba(28,26,84,1) 40%, rgba(118,23,190,1) 100%);
   }

main {
   width: 70%;
   height: auto;
   background-color: var(--purple);
   border-radius: 20px;
   margin: 5% auto;
   
   }

.titulo h1 {
   color: var(--gold);
text-align: center;
font-size: 3rem;
font-family:var(--courgette);
text-shadow: 3px 1px 2px var(--dark-blue) ;

}

p {
   margin-top:1rem;
   text-align: center;
   font-size: 1.8rem;
   padding-bottom: 1rem;
   font-family: 'Manjari', sans-serif;
}

.jogo {
   display: grid;
   grid-template-columns: repeat(6, auto);
   place-content: center;
   gap:1rem;
   
}

.cartas { 
   
   position: relative;
   padding: 5px;
   margin: 0 auto;
   
/*? flip das cartas*/
   transform-style: preserve-3d;
   transition: 0.8s;
   
}

/*? flip das cartas*/
.cartas:active {
   transform: scale(0.97);
   transition: transform 0.5s;
}


.carta-atras {
   position: absolute;   
   border-radius: 5px;
   top: 0;
   left: 0;
   
   backface-visibility: hidden;
   transform: rotateY(0deg);
   transition: 0.5s;
   border-radius: 5px;
   
}

.carta-frente {
  
   backface-visibility: hidden;
   transform: rotateY(-180deg);
   transition: 0.5s;
   border-radius: 5px;
 
  
}

.cartas.flip{
   transform:rotateY(180deg);
}

.cartas.limpar{
   display:none;
}