:root {
  --dark-blue: #15133c;
  --gold: #e8a43d;
  --pink: #f798d0;
  --purple: #8a52b5;
  --old-gold: #cc9c00;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }

body {
   height: 100vh;

   background: #15133c;
   }

main {
   width: 80%;
   background-color: #8a52b5;

   margin: 0 auto;
   
   }

.titulo h1 {
   color: #e8a43d;
text-align: center;
}

p {
   text-align: center;
   font-size: 1.3rem;
   padding-bottom: 1rem;
}

.jogo {
   display: grid;
   grid-template-columns: repeat(6, auto);
   place-content: center;
}

.cartas { 
   
   position: relative;
   padding: 5px;
   margin: 0 auto;
   background-color: #cc9c00;
/*? flip das cartas*/
   transform-style: preserve-3d;
   transition: 0.8s;
   
}


/*? flip das cartas*/
/*.cartas:active,
.carta-atras {
   transform: rotate(-180deg);
   transform: scale(0.97);
   transition: 
   0.5s;
}*/
/*? flip das cartas*/
.cartas:active {
   transform: scale(0.97);
   transition: transform 0.5s;
}


.carta-atras {
   position: absolute;   
   border-radius: 5px;
   top: 0;
   left: 0;
   
   backface-visibility: hidden;
   transform: rotateY(0deg);
   transition: 0.5s;
   border-radius: 5px;
   
}



.carta-frente {
  
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: 0.5s;
  border-radius: 5px;
 
  
}

.cartas.flip{
   transform:rotateY(180deg);
}

.cartas.limpar{
   display:none;
}