:root{
   --dark-blue: #15133C;
   --gold: #e8a43d;
   --pink: #f798d0;
   --purple: #8a52b5;
   --old-gold: #CC9C00;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   height: 100vh;   

   background: #15133c;
}

main {
   width: 80%;
   background-color: #8a52b5;

   margin: 0 auto;

   
}

.titulo h1{
   color:#e8a43d;
   text-align: center;

}

p{
   text-align: center;
   font-size: 1.3rem;
   padding-bottom: 1rem;
}

.jogo{
   
   
   display: flex;
   flex-direction: row;
   
   width: 100%;
   flex-wrap: wrap;
   margin: 0 auto;
   padding:2px 20px;
   justify-content: space-between;
   
}

.cartas{
   
   
   width: 100px;  /*?para posicionar as cartas*/
   height: calc(33.333% - 10px); /*?para posicionar as cartas*/
   margin:10px 10px 0 10px;
   position: relative; /*?para fazer marcação da posição*/
   padding: 5px;
   
}

.carta-atras{
   position: absolute; /*! agrupa das cartas*/
   width: 100%;
   height:100%;
   border-radius: 5px;
   z-index: 1; /*? move para frente*/
   top:0;
   left: 0;
   
}

.carta-frente {
   width: 100%;
   
}
